body {
  font-family: Arial;
}
h1 {
  color: green;
}
.container-list {
  background-color: white;
  justify-content: center;
}
.container-from{
  /*display: flex;*/
  justify-content: center;
  text-align: center;
}
.container-order{
  justify-content: center;
  text-align: center;
}
button{
  background-color: green;
  color: yellow;
  padding: 2px 10px;
}
.container-img{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: coloum;
  margin:20px;
}
.ini-h1{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: coloum;
  margin:20px;
}

